@charset "UTF-8";

@media screen and (min-width: 600px) {
    main section {
        width: 380px;
        height: fit-content;
        border-radius: 20px;
        overflow: hidden;
    }

    div#hero {
        height: 200px;
    }

    div#form hr {
        margin: 20px 0px;
    }
}

@media screen and (min-width: 768px) {
    body {
        background: linear-gradient(transparent, black), url(../images/background.jpg) center center / cover no-repeat;
    }

    main section {
        width: 700px;
        height: 315px;
        border-radius: 20px;
        overflow: hidden;
    }

    main section div#hero {
        float: left;
        width: 40%;
        height: 100%;
        background-position: center center;
    }

    main section div#form {
        float: right;
        width: 60%;
        height: 100%;
    }

    div#form hr {
        visibility: hidden;
        margin: 10px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background: linear-gradient(transparent, black), url(../images/background.jpg) center center / cover no-repeat;
    }

    main section {
        width: 768px;
        height: 420px;
    }

    main section div#hero {
        float: left;
        width: 50%;
        height: 100%;
        background-position: center center;
    }

    main section div#form {
        position: absolute;
        top: 5%;
        left: 50%;
        float: right;
        width: 50%;
        height: 100%;
    }

    div#form hr {
        visibility: visible;
        margin: 40px 0px;
    }
}